In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
from keras.models import Sequential
from keras.layers import Dense

In [3]:
dataset = pd.read_csv('/content/drive/My Drive/Colab Notebooks/dataset/Churn_Modelling.csv')

In [4]:
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

In [6]:
X.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [7]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [8]:
X.shape

(10000, 10)

In [9]:
X.describe()

        CreditScore           Age  ...  IsActiveMember  EstimatedSalary
count  10000.000000  10000.000000  ...    10000.000000     10000.000000
mean     650.528800     38.921800  ...        0.515100    100090.239881
std       96.653299     10.487806  ...        0.499797     57510.492818
min      350.000000     18.000000  ...        0.000000        11.580000
25%      584.000000     32.000000  ...        0.000000     51002.110000
50%      652.000000     37.000000  ...        1.000000    100193.915000
75%      718.000000     44.000000  ...        1.000000    149388.247500
max      850.000000     92.000000  ...        1.000000    199992.480000

[8 rows x 8 columns]

In [10]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
dtypes: float64(2), int64(6), object(2)
memory usage: 781.4+ KB

In [11]:
X = pd.get_dummies(X, columns=['Gender', 'Geography'], drop_first=True)

In [12]:
X.head()

   CreditScore  Age  Tenure  ...  Gender_Male  Geography_Germany  Geography_Spain
0          619   42       2  ...            0                  0                0
1          608   41       1  ...            0                  0                1
2          502   42       8  ...            0                  0                0
3          699   39       1  ...            0                  0                0
4          850   43       2  ...            0                  0                1

[5 rows x 11 columns]

In [13]:
X

      CreditScore  Age  Tenure  ...  Gender_Male  Geography_Germany  Geography_Spain
0             619   42       2  ...            0                  0                0
1             608   41       1  ...            0                  0                1
2             502   42       8  ...            0                  0                0
3             699   39       1  ...            0                  0                0
4             850   43       2  ...            0                  0                1
...           ...  ...     ...  ...          ...                ...              ...
9995          771   39       5  ...            1                  0                0
9996          516   35      10  ...            1                  0                0
9997          709   36       7  ...            0                  0                0
9998          772   42       3  ...            1                  1                0
9999          792   28       4  ...            0                  0                0

[10000 rows x 11 columns]

In [14]:
X.shape

(10000, 11)

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [16]:
sc = StandardScaler()

In [17]:
X_train = sc.fit_transform(X_train)

In [18]:
X_train

array([[-2.44200437e+00,  2.00011765e+00, -6.96824861e-01, ...,
         9.10029431e-01, -5.71576621e-01,  1.72859362e+00],
       [-8.59308289e-01, -4.77191718e-01,  1.72375651e+00, ...,
         9.10029431e-01, -5.71576621e-01,  1.72859362e+00],
       [ 1.30267525e+00, -7.86069320e-04, -1.04262220e+00, ...,
         9.10029431e-01, -5.71576621e-01,  1.72859362e+00],
       ...,
       [-1.05585225e+00, -6.67753977e-01, -1.04262220e+00, ...,
         9.10029431e-01,  1.74954671e+00, -5.78504971e-01],
       [-1.55887806e-01, -1.04887850e+00, -6.96824861e-01, ...,
        -1.09886556e+00,  1.74954671e+00, -5.78504971e-01],
       [ 2.88922205e-01,  9.52025228e-01, -1.04262220e+00, ...,
         9.10029431e-01,  1.74954671e+00, -5.78504971e-01]])

In [19]:
clf = Sequential()

In [20]:
clf.add(Dense(units=6, kernel_initializer='uniform', activation='relu', input_dim=11))
clf.add(Dense(units=6, kernel_initializer='uniform', activation='relu'))
clf.add(Dense(units=1, kernel_initializer='uniform', activation='sigmoid'))

In [21]:
clf.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [22]:
clf.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 72
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [23]:
clf.fit(X_train, y_train, batch_size=10, epochs=100)

Epoch 1/100
800/800 [==============================] - 2s 1ms/step - loss: 0.5483 - accuracy: 0.7938
Epoch 2/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4223 - accuracy: 0.8023
Epoch 3/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4159 - accuracy: 0.8053
Epoch 4/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4098 - accuracy: 0.8283
Epoch 5/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4149 - accuracy: 0.8277
Epoch 6/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4078 - accuracy: 0.8324
Epoch 7/100
800/800 [==============================] - 1s 969us/step - loss: 0.4050 - accuracy: 0.8336
Epoch 8/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3965 - accuracy: 0.8381
Epoch 9/100
800/800 [==============================] - 1s 989us/step - loss: 0.4093 - accuracy: 0.8297
Epoch 10/100
800/800 [==============================] - 1s 943us/step - loss: 0.4111 - accuracy: 0.8273
Epoch 11/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4045 - accuracy: 0.8352
Epoch 12/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4101 - accuracy: 0.8321
Epoch 13/100
800/800 [==============================] - 1s 998us/step - loss: 0.4092 - accuracy: 0.8319
Epoch 14/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4004 - accuracy: 0.8349
Epoch 15/100
800/800 [==============================] - 1s 987us/step - loss: 0.3947 - accuracy: 0.8421
Epoch 16/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4057 - accuracy: 0.8370
Epoch 17/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4138 - accuracy: 0.8288
Epoch 18/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3960 - accuracy: 0.8364
Epoch 19/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4029 - accuracy: 0.8366
Epoch 20/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4066 - accuracy: 0.8298
Epoch 21/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4079 - accuracy: 0.8320
Epoch 22/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4029 - accuracy: 0.8332
Epoch 23/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3909 - accuracy: 0.8387
Epoch 24/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4075 - accuracy: 0.8254
Epoch 25/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3834 - accuracy: 0.8431
Epoch 26/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3906 - accuracy: 0.8386
Epoch 27/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4067 - accuracy: 0.8324
Epoch 28/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3977 - accuracy: 0.8383
Epoch 29/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3949 - accuracy: 0.8362
Epoch 30/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4019 - accuracy: 0.8383
Epoch 31/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4022 - accuracy: 0.8361
Epoch 32/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3909 - accuracy: 0.8398
Epoch 33/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3945 - accuracy: 0.8344
Epoch 34/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4053 - accuracy: 0.8314
Epoch 35/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3996 - accuracy: 0.8306
Epoch 36/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3967 - accuracy: 0.8359
Epoch 37/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3833 - accuracy: 0.8445
Epoch 38/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3933 - accuracy: 0.8391
Epoch 39/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3963 - accuracy: 0.8393
Epoch 40/100
800/800 [==============================] - 1s 999us/step - loss: 0.4001 - accuracy: 0.8293
Epoch 41/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4035 - accuracy: 0.8311
Epoch 42/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3885 - accuracy: 0.8411
Epoch 43/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3928 - accuracy: 0.8413
Epoch 44/100
800/800 [==============================] - 1s 967us/step - loss: 0.3968 - accuracy: 0.8329
Epoch 45/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3896 - accuracy: 0.8418
Epoch 46/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3902 - accuracy: 0.8414
Epoch 47/100
800/800 [==============================] - 1s 999us/step - loss: 0.3980 - accuracy: 0.8371
Epoch 48/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3966 - accuracy: 0.8329
Epoch 49/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4038 - accuracy: 0.8326
Epoch 50/100
800/800 [==============================] - 1s 997us/step - loss: 0.3943 - accuracy: 0.8415
Epoch 51/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4110 - accuracy: 0.8297
Epoch 52/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4036 - accuracy: 0.8347
Epoch 53/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4157 - accuracy: 0.8260
Epoch 54/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3992 - accuracy: 0.8375
Epoch 55/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4015 - accuracy: 0.8313
Epoch 56/100
800/800 [==============================] - 1s 959us/step - loss: 0.4112 - accuracy: 0.8251
Epoch 57/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3956 - accuracy: 0.8342
Epoch 58/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3988 - accuracy: 0.8325
Epoch 59/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3964 - accuracy: 0.8387
Epoch 60/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3931 - accuracy: 0.8363
Epoch 61/100
800/800 [==============================] - 1s 994us/step - loss: 0.3959 - accuracy: 0.8357
Epoch 62/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4081 - accuracy: 0.8286
Epoch 63/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3985 - accuracy: 0.8343
Epoch 64/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3975 - accuracy: 0.8363
Epoch 65/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3938 - accuracy: 0.8379
Epoch 66/100
800/800 [==============================] - 1s 991us/step - loss: 0.3973 - accuracy: 0.8359
Epoch 67/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4069 - accuracy: 0.8274
Epoch 68/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3898 - accuracy: 0.8403
Epoch 69/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3985 - accuracy: 0.8402
Epoch 70/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4143 - accuracy: 0.8304
Epoch 71/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3899 - accuracy: 0.8389
Epoch 72/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3943 - accuracy: 0.8366
Epoch 73/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3952 - accuracy: 0.8337
Epoch 74/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3959 - accuracy: 0.8341
Epoch 75/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3971 - accuracy: 0.8358
Epoch 76/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4027 - accuracy: 0.8319
Epoch 77/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3999 - accuracy: 0.8331
Epoch 78/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3982 - accuracy: 0.8346
Epoch 79/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3989 - accuracy: 0.8329
Epoch 80/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3850 - accuracy: 0.8447
Epoch 81/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4094 - accuracy: 0.8239
Epoch 82/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3940 - accuracy: 0.8389
Epoch 83/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4095 - accuracy: 0.8286
Epoch 84/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4131 - accuracy: 0.8279
Epoch 85/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3943 - accuracy: 0.8385
Epoch 86/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4037 - accuracy: 0.8367
Epoch 87/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4012 - accuracy: 0.8303
Epoch 88/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4076 - accuracy: 0.8287
Epoch 89/100
800/800 [==============================] - 1s 987us/step - loss: 0.3943 - accuracy: 0.8374
Epoch 90/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4005 - accuracy: 0.8350
Epoch 91/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3858 - accuracy: 0.8426
Epoch 92/100
800/800 [==============================] - 1s 998us/step - loss: 0.3930 - accuracy: 0.8379
Epoch 93/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3823 - accuracy: 0.8441
Epoch 94/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4001 - accuracy: 0.8337
Epoch 95/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3964 - accuracy: 0.8375
Epoch 96/100
800/800 [==============================] - 1s 946us/step - loss: 0.4065 - accuracy: 0.8308
Epoch 97/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3924 - accuracy: 0.8377
Epoch 98/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3950 - accuracy: 0.8339
Epoch 99/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3952 - accuracy: 0.8364
Epoch 100/100
800/800 [==============================] - 1s 987us/step - loss: 0.3912 - accuracy: 0.8349

In [24]:
X_test = sc.transform(X_test)

In [25]:
X_test

array([[-0.56966456, -0.85831624, -0.00523018, ..., -1.09886556,
        -0.57157662,  1.72859362],
       [-1.36618481,  0.66618184, -0.35102752, ...,  0.91002943,
         1.74954671, -0.57850497],
       [ 0.09237825,  0.38033845, -1.38841954, ...,  0.91002943,
        -0.57157662, -0.57850497],
       ...,
       [-0.11451013, -1.14415963,  1.03216183, ..., -1.09886556,
        -0.57157662,  1.72859362],
       [ 0.29926662, -0.28662946,  0.34056715, ...,  0.91002943,
        -0.57157662, -0.57850497],
       [ 0.35098872,  1.61899314, -0.69682486, ..., -1.09886556,
         1.74954671, -0.57850497]])

In [27]:
y_pred = clf.predict(X_test)

In [28]:
y_pred

array([[0.10134012],
       [0.6366366 ],
       [0.28363585],
       ...,
       [0.06496137],
       [0.09040356],
       [0.50060475]], dtype=float32)

In [29]:
y_pred_exited = y_pred > 0.5

In [30]:
y_pred_exited

array([[False],
       [ True],
       [False],
       ...,
       [False],
       [False],
       [ True]])

In [31]:
cm = confusion_matrix(y_test, y_pred_exited)

In [32]:
print(cm)

[[1532   52]
 [ 277  139]]

In [33]:
print(classification_report(y_test, y_pred_exited))

              precision    recall  f1-score   support

           0       0.85      0.97      0.90      1584
           1       0.73      0.33      0.46       416

    accuracy                           0.84      2000
   macro avg       0.79      0.65      0.68      2000
weighted avg       0.82      0.84      0.81      2000